sudo: false
language: java
cache:
  directories:
    - $HOME/.m2

jdk:
  - oraclejdk7
  - oraclejdk8


before_install:
  - wget https://archive.apache.org/dist/maven/maven-3/3.5.2/binaries/apache-maven-3.5.2-bin.zip
  - unzip -qq apache-maven-3.5.2-bin.zip
  - export M2_HOME=$PWD/apache-maven-3.5.2
  - export PATH=$M2_HOME/bin:$PATH

script: mvn -B -fae clean install
