name: CI Build

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java-version: [ 11, 17, 19 ]

    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-java@v3
      id: build_jdk
      with:
        distribution: temurin
        java-version: ${{ matrix.java-version }}
        cache: maven

    - name: build
      run: |
        make install docs
